<img src="@imageData" alt="Avatar" style="width:100%">
<div class="card-container">
    <p>The pet is a @BreedInformation.Breed</p>
    <p>It is a @BreedInformation.Type </p>
    <p>It has weight of @BreedInformation.Weight</p>
    <p>It has height of @BreedInformation.Height</p>
    <p>It is @BreedInformation.Qualities</p>
    <p>It has a lifespan of @BreedInformation.LifeExpectancy</p>
</div>
